<h2 class='User_Header'> <%=@current_user.username%> : Profile <h2>
<h2><%= link_to  "all articles", articles_path %></h2>


<h2><%= link_to  "new", new_article_path %></h2>
<h2><%= link_to  "edit this article", edit_article_path(@article) %></h2>

<h1>
  <%= @article.title %>
</h1>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commentor %><br>
    <%= form.text_field :commentor %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit value:"comment" %>
  </p>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>

  
